@use "../../scss/variables" as *;
@use "../../scss/mixin" as *;
@use "../../scss/breakpoint" as *;
@use "../../scss/custom" as *;

.main_header {
  &_item {
    @include flex(center, start);
    gap: 30px;
    padding-block: 56px 28px;
  }
}

.gridContent {
  &_container {
    @include flex(center, center, row);
    flex-wrap: wrap;
    gap: 50px 75px;
  }

  &_item {
    @include flex(start, center, column);
    gap: 10px;
    width: 220px;
    p {
      word-break: break-word;
      margin-right: auto;
    }
    &:last-child {
      margin-right: unset;
    }

    &_left {
      @include flex(center, start);
      gap: 16px;
      width: 65%;
      img {
        border-radius: 20px;
        box-shadow: $shadow-img-sm;
        margin-bottom: auto;
      }
      
    }

    &_right {
      @include flex(center, center);
      flex-wrap: wrap;
      width: 35%;
      gap: 0px;
      margin-left: auto;
    
    }
    &_star {
      @include flex(center, center);
      margin-right: auto;
      .star {
        color: $third-color;
      }
    }
  }
  &_bg {
    box-shadow: $shadow-img-lg;
    object-fit: cover;
  }

  &_desc {
    width: 100%;
    @include flex(center, center);
    gap: 4px;
    margin-bottom: auto;
  }

  @include minWidth($sm) {
    // width: 42%;
  }
  @include minWidth($md) {
    // width: 26%;
  }
  @include minWidth($lg) {
    // width: unset;
    &_right {
      gap: 16px;
    }
    &_item {
        &:last-child {
            margin-right: auto;
        }
    }
  }
  @include minWidth($lg) {
    &_container {
        gap: 50px 90px;
    }
    &_item {
        width: 250px;
        height: 425px;
    }
  }
  @include minWidth($x-lg) {
    &_container {
      gap: 50px 34px;
    }
  }
  @include minWidth($xx-lg) {
    &_container {
      gap: 50px 6px;
    }
  }
  @include minWidth($xx-lg) {
    &_container {
      gap: 50px 18px;
    }
  }
}
