$primary-color: #000;
$secondary-color: #fff;
$third-color: #ff2e43;
$fourth-color: #efefef;
$fifth-color: #8f8f8f;
$sixth-color: #070707;

$title-color: #222222;

$header-height: 60px;

$font-family: "Montserrat", sans-serif;

$shadow-img-sm: 0 2px 20px -5px $primary-color;
$shadow-img-lg: 0 2px 20px -10px $primary-color;

$sm: 576px;
$md: 768px;
$lg: 992px;
$x-lg: 1200px;
$xx-lg: 1440px;
$xxx-lg: 1600px;